.titulo{
    font-size: 25px;
    vertical-align: middle;
    display: inline-flex;
    text-align: center;
}

.block{
    display: flex;
    white-space: nowrap;
}
.blocka{
    top: 11px;
    white-space: nowrap;
}

@media all and (max-width: 700px) {
    .titulo{
        font-size: 20px;
    }
}

@media all and (max-width: 575px) {
    .titulo{
        font-size: 14px;
    }
}


.container{
    height: 100vh;
}

.header{
    text-align: center;
    vertical-align: middle;
}

